<ion-toolbar secondary class="android-attr">
  <ion-title>
   Add Dog Owner Account
  </ion-title>
  <ion-buttons start>
    <button (click)="dismiss()">
      <span showWhen="ios">Close</span>
      <ion-icon name='close' showWhen="android"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <!-- LOADING SPINNER -->
  <h1 *ngIf="sending" class="green center">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </h1>
  <!-- DOG OWNER FORM -->
  <!-- CONTACT INFO -->
  <ion-item-group *ngIf="!hasName">
    <ion-item-divider>Contact Info</ion-item-divider>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <form-errors [name]="'First Name'" [errors]="errors['firstName']"></form-errors>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <form-errors [name]="'Last Name'" [errors]="errors['lastName']"></form-errors>
  </ion-item-group>
  <!-- END OF CONTACT INFO -->
  <!-- ADDRESS -->
  <ion-item-group>
    <ion-item-divider>Address</ion-item-divider>
    <!-- STREET1 -->
    <ion-item>
      <ion-label floating>Street</ion-label>
      <ion-input type="text" [(ngModel)]="street1"></ion-input>
    </ion-item>
    <form-errors [name]="'Street'" [errors]="errors['street1']"></form-errors>
    <!-- STREET2 -->
    <ion-item>
      <ion-label floating>Street line 2</ion-label>
      <ion-input type="text" [(ngModel)]="street2"></ion-input>
    </ion-item>
    <form-errors [name]="'street2'" [errors]="errors['street2']"></form-errors>
    <!-- CITY -->
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="city"></ion-input>
    </ion-item>
    <form-errors [name]="'City'" [errors]="errors['city']"></form-errors>
    <!-- STATE/PROVINCE -->
    <ion-item>
      <ion-label floating>State/Province</ion-label>
      <ion-input type="text" [(ngModel)]="state"></ion-input>
    </ion-item>
    <form-errors [name]="'State/Province'" [errors]="errors['state']"></form-errors>
    <!-- COUNTRY -->
    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-input type="text" [(ngModel)]="country"></ion-input>
    </ion-item>
    <form-errors [name]="'Country'" [errors]="errors['country']"></form-errors>
    <!-- ZIPCODE -->
    <ion-item>
      <ion-label floating>Zipcode</ion-label>
      <ion-input type="text" [(ngModel)]="zipcode"></ion-input>
    </ion-item>
    <form-errors [name]="'Zipcode'" [errors]="errors['zipcode']"></form-errors>
  </ion-item-group>
  <!-- END OF ADDRESS -->
  <div padding>
    <button block (click)="onSubmit()">Create Dog Owner</button>
  </div>
<!-- END OF DOG OWNER FORM -->
</ion-content>


