<ion-navbar secondary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Register</ion-title>
</ion-navbar>

<ion-content>
  <!-- REGISTRATION ERROR ALERT -->
  <div *ngIf="showErrorMessage" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Oops there was a problem and the account couldn't be created. Please try again soon!</strong>
  </div>
  <div *ngIf="!submitted">
    <!-- LOADING SPINNER -->
    <h1 *ngIf="sending" class="green center">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </h1>
    <!-- REGISTER FORM -->
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" id="inputEmail"
               [(ngModel)]="model.email">
        </ion-input>
      </ion-item>
      <form-errors [name]="'Email'" [errors]="errors['email']"></form-errors>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" id="inputPassword"
               [(ngModel)]="model.password">
        </ion-input>
      </ion-item>
      <form-errors [name]="'Password'" [errors]="errors['password']"></form-errors>
    </ion-list>
    <div padding>
      <button block (click)="onSubmit()">Register With Email</button>
    </div>
    <h4 light-grey style="text-align:center;">OR</h4>
    <facebook-connect></facebook-connect>
    <!-- LOGIN LINKS -->
    <login-links [page]="linksPage" (clickLogin)="onClickLogin()"></login-links>
  </div>
  <!-- END OF REGISTER FORM -->
  <!-- SUBMITTED CONFIRMATION -->
  <div *ngIf="submitted" class="center">
    <h1>Woof woof!</h1>
    <h1>Signup Successful!</h1>
    <br/>
    <p>You should now receive a confirmation email.</p>
    <p>Please click on the link in the email to confirm your account.</p>
  </div>
  <!-- END OF SUBMITTED CONFIRMATION -->
</ion-content>

