// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #387FF5, //#387ef5,
  secondary:  #00BF8E,  //#32db64,
  danger:     #EF473A,  //#f53d3d,
  light:      #f4f4f4,
  light-grey: #999,
  dark:       #222,
  light-blue: #11C1F3,  //#69BB7B
  facebook:   #4B67A1
);

$primary:    #387FF5; //#387ef5,
$secondary:  #00BF8E;  //#32db64,
$danger:     #EF473A;  //#f53d3d,
$light:      #f4f4f4;
$dark:       #222;
$light-blue: #11C1F3; //#69BB7B
$white: #fff;

