<ion-navbar secondary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Login</ion-title>
</ion-navbar>

<ion-content *ngIf="!submitted" class="has-header">
  <!-- LOADING SPINNER -->
  <h1 *ngIf="sending" class="green center">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </h1>
  <!-- LOGIN FORM -->
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" id="inputEmail" [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <form-errors [name]="'Email'" [errors]="errors['email']"></form-errors>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" id="inputPassword" [(ngModel)]="password">
      </ion-input>
    </ion-item>
    <form-errors [name]="'Password'" [errors]="errors['password']"></form-errors>
  </ion-list>
  <div padding>
    <button block (click)="onSubmit()">Login With Email</button>
  </div>
  <h4 light-grey style="text-align:center;">OR</h4>
  <facebook-connect></facebook-connect>
  <!-- LOGIN LINKS -->
  <login-links [page]="linksPage" (clickRegister)="onClickRegister()"></login-links>
</ion-content>
<!-- END OF LOGIN FORM -->
