<ion-navbar secondary *navbar>
<button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
<ion-title>Home</ion-title>
</ion-navbar>

<ion-content>
  <h1>Hello!</h1>
<ion-list no-lines padding>
  <ion-item>
    <button primary clear (click)="clickNewDogOwner()">Create Dog Owner Account</button>
  </ion-item>
</ion-list>

</ion-content>

