<ion-list no-lines padding>
  <ion-item *ngIf="showRegister">
    <button primary clear (click)="clickRegister.next()">Register</button>
  </ion-item>
  <ion-item *ngIf="showLogin">
    <button primary clear (click)="clickLogin.next()">Login</button>
  </ion-item>
  <ion-item *ngIf="showCancel">
    <button primary clear (click)="clickCancel()">Cancel</button>
  </ion-item>
  <ion-item *ngIf="showReconfirm">
    <button primary clear (click)="clickReconfirm()">Didn't receive confirmation email?</button>
  </ion-item>
  <ion-item *ngIf="showPassword">
    <button primary clear (click)="clickPassword()">Forgot Password?</button>
  </ion-item>
</ion-list>

