<ion-menu id="leftMenu" [content]="content">

  <ion-toolbar secondary>
    <ion-title>Pages</ion-title>
  </ion-toolbar>

  <ion-content secondary>
    <ion-list>
      <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
