<!-- Jumbotron -->
<div class="container">
  <div class="row">
    <div class="bs-component">
      <!-- JUMBOTRON -->
      <div class="jumbotron">
        <h1 class="center">Snifme</h1>
        <p class="center">Play with all your neighbourhood buddies!</p>
        <p class="center">
          <a (click)="log.trackLink('Home Page Hero Register')" [routerLink]="['Register']" class="btn btn-primary btn-lg">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End of Jumbotron -->

