<!-- LOADING SPINNER -->
<h1 *ngIf="sending" class="green">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</h1>
<!-- FACEBOOK BUTTON -->
<div padding>
  <button block facebook (click)="facebookLogin()">
    <ion-icon name="logo-facebook"></ion-icon>
    | Connect With Facebook
  </button>
</div>


