
<ion-navbar secondary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Oscar</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <ion-card>
    <img src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/1000646_10153898623592952_3828815144854077254_n.jpg?oh=cc43f7c4a2eb8148a513833143c2a028&oe=57672EEE">

    <ion-card-header>
      <em style="text-align:center;">"Oscar Reflectivo"</em>
    </ion-card-header>
  </ion-card>

    <p>
      <button block primary menuToggle>View Oscar's Info</button>
    </p>

</ion-content>
