<ion-toolbar secondary class="android-attr">
  <ion-title>
    Password Reset Email
  </ion-title>
  <ion-buttons start>
    <button (click)="dismiss()">
      <span showWhen="ios">Close</span>
      <ion-icon name='close' showWhen="android"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<!-- Before Submitted -->
<ion-content *ngIf="!submitted" class="has-header">
  <!-- LOADING SPINNER -->
  <h1 *ngIf="sending" class="green center">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </h1>
  <!-- PASSWORD RESET REQUEST FORM -->
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" id="inputEmail" [(ngModel)]="email"></ion-input>
    </ion-item>
    <form-errors [name]="'Email'" [errors]="errors['email']"></form-errors>
  </ion-list>
  <div padding>
    <button block (click)="onSubmit()">Send Reset Password Email</button>
  </div>
  <!-- END OF PASSWORD RESET REQUEST FORM -->
</ion-content>

<!-- After Submitted -->
<ion-content *ngIf="submitted" padding style="text-align:center">
<!-- SUBMITTED CONFIRMATION -->
  <br/>
  <br/>
  <h3>Woof Woof!</h3>
  <h3>Password Reset Email Sent!</h3>
  <br/>
  <p>You should now receive a password reset email.</p>
  <p>Please click on the link in the email to reset your password.</p>
  <!-- END OF SUBMITTED CONFIRMATION -->
</ion-content>

