<!-- Jumbotron -->
<div class="container">
  <div class="row">
    <div class="bs-component">
      <!-- JUMBOTRON -->
      <div class="jumbotron">
        <h1 class="center">Settings</h1>
        <p class="center">Update all your settings here.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Jumbotron -->

