<ion-card class="form-errors" >
  <ion-list *ngIf="errors" padding>
    <p>{{name}} Errors:</p>
    <ion-item *ngFor="#error of errors">
      <p>{{error}}</p>
    </ion-item>
  </ion-list>
</ion-card>

